@font-face {
  font-family: "Kanit-Black";
  src: url("./assets/Fonts/Kanit-Black.ttf");
}

@font-face {
  font-family: "Kanit-Reg";
  src: url("./assets/Fonts/Kanit-Regular.ttf");
}

@font-face {
  font-family: "Kanit-Light";
  src: url("./assets/Fonts/Kanit-Light.ttf");
}

@font-face {
  font-family: "Kanit-ELight ";
  src: url("./assets/Fonts/Kanit-ExtraLight.ttf");
}

body {
  font-family: "Kanit-Light" !important;
  color: black;
}

a {
  color: black;
}

a:hover {
  font-family: "Kanit-Reg";
}

input:focus {
  outline: none;
  box-shadow: none;
}

.btn:focus {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
}
