@font-face {
  font-family: "Kanit-Black";
  src: url("./assets/Fonts/Kanit-Black.ttf");
}

@font-face {
  font-family: "Roboto-Reg";
  src: url("./assets/Fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/Fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("./assets/Fonts/Roboto/Roboto-Black.ttf");
}

body {
  font-family: "Roboto-Reg" !important;
  color: black;
}

h1 {
  font-family: "Roboto-Black";
  color: #1a893c;
  font-size: 2.8em;
  margin: 0 !important;
}

h2 {
  font-family: "Roboto-Black";
  color: black;
  font-size: 2em;
  margin-top: 0 !important;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0 !important;
}

a,
router-link {
  color: black;
}

a:hover,
router-link:hover {
  font-family: "Roboto-Black";
  outline: none;
  color: black;
  box-shadow: none;
  text-decoration: none;
}

.bold-link {
  font-family: "Roboto-Black";
}

input:focus {
  outline: none;
  box-shadow: none;
}

.btn:focus {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
}

.custom-button {
  margin: 5px;
  border: 2px solid black;
  background-color: white;
  font-family: "Roboto-Bold";
  padding: 5px 20px;
}

.custom-button:focus {
  outline: none;
  border: 2px solid #1a893c;
  box-shadow: none;
}

.custom-select {
  font-family: "Roboto-Bold";
  color: black;
  margin: 5px;
  padding: 5px 20px;
  border: 2px solid black;
  border-radius: 0px;
}

.custom-select:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid #1a893c;
  color: black;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.3em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 2.3em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.3em;
  }

  .custom-button {
    margin: 5px 0px;
    margin-right: 5px;
  }
  .custom-select {
    margin: 5px 0px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 610px) {
  .custom-select {
    width: 90vw;
    margin: 5px 0px;
  }
  .custom-button {
    width: 90vw;
    margin: 5px 0px;
  }
}
