@font-face {
  font-family: "Kanit-Black";
  src: url("./assets/Fonts/Kanit-Black.ttf");
}

@font-face {
  font-family: "Roboto-Reg";
  src: url("./assets/Fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/Fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("./assets/Fonts/Roboto/Roboto-Black.ttf");
}

body {
  font-family: "Roboto-Reg" !important;
  color: black;
}

h1 {
  font-family: "Roboto-Black";
  color: #1a893c;
  font-size: 2.8em;
  margin: 0 !important;
}

h2 {
  font-family: "Roboto-Black";
  color: black;
  font-size: 2em;
  margin-top: 0 !important;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0 !important;
}

a,
router-link {
  color: black;
}

a:hover,
router-link:hover {
  font-family: "Roboto-Bold";
  outline: none;
  color: black;
  box-shadow: none;
  text-decoration: none;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.btn:focus {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.3em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 2.3em;
  }
  h2 {
    font-size: 1.7em;
  }
  h3 {
    font-size: 1.3em;
  }
}
